@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body{
    background-color: #141414;
}

.navbar {
    background-color: #0a0a0a;
    padding: 0.7rem 2rem;
    color: white;
    z-index: 9999;
}

.navbar-brand img {
    width: 90px;
}

.nav-link {
    font-size: 0.8rem;
    color: #f0ecea;
}

.nav-link:hover {
    color: #88827f;
}

.nav-link:focus {
    color: white;
    font-weight: 500;
}

.dropdown-menu {
    background-color: #0a0a0a;
}

.bi {
    font-size: 1rem;
    margin-right: 10px;
}

.hero {
    min-height: 80vh;
    position: relative;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    color: white;
    width: 30%;
    height: 100%;
    padding-left: 10px;
    z-index: 5;
}

.movie-info h1{
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
}

.hero-movies {
    margin-bottom: 15px;
}

.hero-movies h2 {
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    margin: 1rem 4rem;
}

.carousel-control-prev {
    width: 54px;
}

.carousel-control-next {
    width: 54px;
}

@media (min-width: 778px){
    .icons-right {
        display: flex;
        justify-content: flex-end;
    }
}