.navbar {
    background-color: #0a0a0a;
    padding: 0.7rem 2rem;
    color: white;
}

.navbar-brand img {
    width: 90px;
}

.nav-link {
    font-size: 0.8rem;
    color: #f0ecea;
}

.nav-link:hover {
    color: #88827f;
}

.nav-link:focus {
    color: white;
    font-weight: 500;
}

.dropdown-menu {
    background-color: #0a0a0a;
}

.bi {
    font-size: 1rem;
    margin-right: 10px;
}

@media (min-width: 778px){
    .icons-right {
        display: flex;
        justify-content: flex-end;
    }
}